@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #000000;
    --foreground: #ffffff;
  }

  body {
    color: var(--foreground);
    background: var(--background);
    font-family: "N27", sans-serif;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  
  /* Custom utility for masking */
  .mask-alpha {
    mask-mode: alpha;
  }
  
  .mask-intersect {
    mask-composite: intersect;
  }
  
  .mask-no-clip {
    mask-clip: border-box;
  }
  
  .mask-no-repeat {
    mask-repeat: no-repeat;
  }
}